body {
	margin: 0px;
	padding: 0px;
	background-image: url("img//beach.jpg");
	background-attachment: fixed;
}

/*.topSurroundingDiv {
	width: 100%;
	background: grey;
}*/

.customDiv1 {
	font-size: 24pt;
	color: white;
	text-align: center;
	text-shadow: -2px -3px 3px red;
	padding: 3px;
	display: inline-block;
	width: 47%;
	margin: 6px;
}

.customDiv2 {
	font-size: 24pt;
	color: #00FA9A;
	text-align: center;
	text-shadow: -2px -3px 3px orange;
	padding: 3px;
	display: inline-block;
	width: 47%;
	margin: 6px;
}

.headerDiv {
	text-align: center;
	margin: auto;
}

.customDiv3 {
	color: #0a2c9b;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border: 2px solid grey;
	border-radius: 15% 15% 0% 0%;
	margin: 10px;
	padding: 2px;
	width: 1100px;
	margin: auto;
	background: cyan; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(cyan, #FFEBCD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(cyan, #FFEBCD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(cyan, #FFEBCD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(cyan, #FFEBCD); /* Standard syntax */
}

.surroundingDiv {

	border: 1px solid black;
	margin: auto;
	text-align: center;
}

.customDiv4 {
	background-image: url("img/small_beach.jpg");
	border: 3px ridge grey;
	width: 140px;
	margin: 10px;
	height: 90px;
	display: inline-block;
}

.bannerDiv {
	text-align: center;
	text-shadow:  6px 6px 6px blue;
	//text-shadow: 0 0 6px #FF0000, 0 0 9px #0000FF;
	font: 84px Helvetica;
	margin: auto;
}


.footerDiv {
	position: relative;
	text-align: right;
	font-size: 14pt;
	font-style: italic;
	width: 100%;
	height: 350px;
	background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(blue, grey); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(blue, grey); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(blue, grey); /* For Firefox 3.6 to 15 */
    background: linear-gradient(blue, grey); /* Standard syntax */
}

.container {
	font-size: 14pt;
	position: absolute;
	/*display: inline-block;*/
	/*vertical-align: middle;*/
	top: 80px;
	border-radius: 10px;
	left: 10px;
	height: 225px;
	width: 400px;
	background-color: white;
}

.rainbow {
	position: absolute;
	top: 215px;
	right: 5px;
	font-size: 46pt;
	font-style: italic;
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
}

.image.fit {
			display: block;
			margin: 2.5rem 0;
			width: 100%;
}